// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #333;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       #333333;
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-ping styles
// ----------------------------------------------------------------------------
.widget-ping {

  background-color: $background-color;
  color: #fff;
  vertical-align: middle;
  font-size: 20px;
  .more-info {
    color: $moreinfo-color;
  }

}
